body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    width: 245px;
}

.gridDiv {
    height: 15px;
    width: 15px;
    background-color: green;
    margin: 0px;;
    padding: 0px;
    
}