body {
    margin: 0px;
    padding: 0px;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#title {
    font-family: 'Grape Nuts', cursive;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    align-items: center;
    border: 5px solid black;
}

.buttonDiv {
    margin-top: 20px;
}

.buttons {
    height: 40px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5%;
    transition: 0.3s;
}

.buttons:hover {
    background-color: black;
    color: white;
}

.gridDiv {
    height: 25px;
    width: 25px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.midDiv {
    height: 12.5px;
    width: 12.5px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.largeDiv {
    height: 6.25px;
    width: 6.25px;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

